  node_modules/                                                                                                                                           
    build/                                                                                                                                                  
    .env    
    inventory-ashcoldb